nav{
    background-color: $primary-color; 
    color: rgba($text-primary-color, 0.5) !important;  
    .navbar-brand{
        margin-right: 5rem !important;    
        img{
            filter: brightness(0) invert(1) !important; 
        }
    }

    a{
        color: rgba($text-primary-color, 0.5) !important;   
    }
    p{
        margin: 0 !important;  
        font-size: 14px;  
    }
    .dropdown-item{
        color: $text-secondary-color !important;
        }
}