// colors
$primary-color: #38206E;

// buttons
$button-primary-color: #7A53D4;
$button-secondary-color: #5D53A3;

// text
$text-primary-color: #ffffff;
$text-secondary-color:#212529;

// dashboard
$dashboard-primary-color: #16113A;
$dashboard-secondary-color:#272953;
$dashboard-chart-color: #01D1FF;