// colors
$primary-color: #38206E;

// buttons
$button-primary-color: #7A53D4;

// text
$text-primary-color: #ffffff;

// dashboard
$dashboard-primary-color: #16113A;
$dashboard-secondary-color:#272953;
$dashboard-chart-color: #01D1FF;