{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>ERP lite | Login</title>
</head>
<body>
    <div class="container-fluid vh-100 justify-content-center align-items-center">
        <div class="row">
            <div class="col-sm-6 login-form">
                <form method="POST" action="">
                    {% csrf_token %}
                    <h4 class="text-white text-uppercase text-center font-weight-bold mb-4">Login</h4>
                    <div class="mb-3">
                        <input type="text" name="username" class="form-control" placeholder="username">
                    </div>
                    <div class="mb-3">
                        <input type="password" name="password" class="form-control" placeholder="password">
                    </div>
                    <div class="d-grid mb-3">
                        <input type="submit" value="Login" class="btn btn-primary btn-login">
                    </div>
                    {% if messages %}
                        {% for message in messages %}
                        <p class="alert alert-danger p-2 text-center" role="alert"><small>{{ message }}</small></p>
                        {% endfor %}
                    {% endif %}
                </form>
            </div>
            <div class="col-sm-6 login-image">
                <img src="{% static 'logo.png' %}" alt="Logo" width="250" class="mx-auto d-block mb-4">
                <img src="{% static 'login_image.jpg' %}" width="500" alt="login-imagen" class="mx-auto d-block">
            </div>
        </div>
    </div>
</body>
</html>