@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  /*font-size: 62.5%;*/
}

a {
  font-size: 14px !important;
}

.btn-erp-primary {
  background-color: #5D53A3 !important;
  padding: 4px 20px;
  color: #ffffff;
}

.login-form {
  background-color: #38206E;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-image {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.login-form {
  width: 50%;
}

.login-form .btn-login {
  background-color: #7A53D4 !important;
  border: 0;
  transition: 0.3s all;
}

.login-form .btn-login:hover {
  background-color: rgba(122, 83, 212, 0.1) !important;
}

nav {
  background-color: #38206E;
  color: rgba(255, 255, 255, 0.5) !important;
}

nav .navbar-brand {
  margin-right: 5rem !important;
}

nav .navbar-brand img {
  filter: brightness(0) invert(1) !important;
}

nav a {
  color: rgba(255, 255, 255, 0.5) !important;
}

nav p {
  margin: 0 !important;
  font-size: 14px;
}

nav .dropdown-item {
  color: #212529 !important;
}

.dashboard {
  background-color: #16113A;
  height: 100vh;
  padding: 50px 100px !important;
}

.dashboard p {
  font-size: 12px !important;
  color: #ffffff;
  margin: 0 !important;
}

.dashboard h2 {
  color: #ffffff;
}

.card {
  height: 100%;
  background-color: #272953;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  padding: 30px;
  position: relative;
  border-radius: 6px;
}

.sub {
  display: flex;
  align-content: space-between;
  height: 100%;
}

.sub-card {
  max-height: 90px;
  background-color: #272953;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  padding: 20px;
  border-radius: 6px;
}

.paginator {
  background-color: #F3F4F6 !important;
  color: #5D53A3 !important;
}

input, select {
  height: 30px !important;
}

.form-switch {
  height: 10px !important;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-switch input {
  height: 70% !important;
  width: 100% !important;
}

.search-chart {
  border: 1px solid gray;
  padding: 0px 10px;
  width: 100%;
}

.search-chart:focus-visible {
  outline: 1px solid #38206E;
}

.search-chart input {
  width: 300px;
  border: none !important;
}

.search-chart input:focus-visible {
  outline: none !important;
}
