{% extends 'home.html' %}
{% block title %}
    Taxes
{% endblock %}
{% block content %}
    <div class="row py-4">
        <div class="d-flex justify-content-between">
            <form method="POST" action="">
                {% csrf_token %}
                {{ form }}
{#                {% if request.method == 'POST' %}#}
                {% if page_name %}
                    <input type="submit" value="update" class="ms-2 btn btn-warning btn-sm">
                    <a href="{% url 'accounting:taxes' %}" class="btn btn-secondary btn-sm">cancel</a>
                {% else %}
                    <input type="submit" value="create" class="ms-2 btn btn-erp-primary btn-sm">
                {% endif %}
            </form>
            <div class="px-4">
                {{ page_accounts.number }}-{{ page_accounts.paginator.num_pages }}
                {% if page_accounts.has_previous %}
                    <a href="?page={{ page_accounts.previous_page_number }}"><i class="bi bi-caret-left-square-fill"></i></a>
                {% endif %}
                {% if page_accounts.has_next %}
                    <a href="?page={{ page_accounts.next_page_number }}"><i class="bi bi-caret-right-square-fill"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row bg-white p-4">
        <table class="table">
            <thead class="table-light">
            <tr>
                <th>ID</th>
                <th>Code</th>
                <th>Tax Name</th>
                <th>Account</th>
                <th>Percentage</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% if page_taxes %}
                {% for tax in page_taxes %}
                    <tr>
                        <td>{{ tax.id }}</td>
                        <td>{{ tax.code }}</td>
                        <td>{{ tax.tax_name }}</td>
                        <td>{{ tax.account_id }}</td>
                        <td>{{ tax.percentage }}%</td>
                        <td><a href="{% url 'accounting:updated-taxes' tax.pk %}" class="btn btn-warning btn-sm"><i
                                class="bi bi-pencil-square"></i></a>
                            <a href="{% url 'accounting:delete-taxes' tax.pk %}" class="btn btn-danger btn-sm"><i
                                    class="bi bi-trash3"></i></a></td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>
                        No found data.
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>

    </div>
{% endblock %}