<!-- Modal -->
<div class="modal fade" id="UpdateModalCurrency" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Currency</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST">
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="container-fluid">
                        <div class="row mb-3">
                            <div class="col-12">
                                <label for="" class="form-label">Name</label>
                                {{ form.name }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-4">
                                <label for="" class="form-label">Currency</label>
                                {{ form.abbrev }}
                            </div>
                            <div class="col-2">
                                <label for="" class="form-label">Symbol</label>
                                {{ form.symbol }}
                            </div>
                            <div class="col-6">
                                <label for="" class="form-label">Date</label>
                                {{ form.date }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-4">
                                <label for="" class="form-label">Rate</label>
                                {{ form.rate }}
                            </div>
                            <div class="align-self-end col-4 ms-auto">
                                <div class="form-check form-switch ">
                                    {{ form.status }}
                                    <label class="form-check-label" for="flexSwitchCheckChecked">Active</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Save">
                </div>
            </form>
        </div>
    </div>
</div>
